.body{
    margin: 15px;
    border: 3px solid rgb(226, 11, 11);
    padding: 0px 20px;
    border-radius: 20px;
}
h1{
    text-align:center;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 10px;
}
h2{
    font-size: 40px;
    margin-bottom: 0;
}
a:hover{
    color: rgb(209, 100, 255);
}
a:active{
    color: rgb(0, 206, 124);
}
.info{
    display:flex;
}
.contact-info img{
    width: 20px;
}
.myimg{
    text-align: end;
    margin-right: 0%;
    margin-left: 36%;
}
.myimg img{
    border: 2px solid black;
}
.mob-num{
    text-decoration: none;
    color: rgb(14, 14, 160);
}
hr{
    background-color: black;
    height: 2px;
    border: 0;
}
.topic{
    border: 2px solid black;
    background: linear-gradient(to right, #ffffff,  #cfcfcf);
    padding: 0 20px;
    font-weight: bold;
}
.heading{
    margin: 10px 0;
}
.objective{
    margin: 15px 20px;
    text-align: justify;
}
.edu-detail{
    margin-bottom: 20px;
    list-style: none;
    font-size: 20px;
}
.edu-detail li{
    list-style: none;
}
.edu-detail img{
    width: 15px;
}
p,li{
    font-family:sans-serif;
}
li{
    margin: 5px 2px;
}
td{
    font-family: sans-serif;
}
.sign{
    text-align: end;
    margin-right: 100px;
}
br{
    visibility: hidden;
}
.footer{
    text-align: center;
    color: rgb(143, 81, 108);
}