.body{
    margin: 0.9em;
    border: 3px solid rgb(226, 11, 11);
    padding: 0 1.25em;
    border-radius: 1.25em;
}
h1{
    text-align:center;
    text-decoration: underline;
    font-size: 3.75em;
    margin-top: 0.3em;
}
h2{
    font-size: 2em;
    margin-bottom: 0;
}
a:hover{
    color: rgb(209, 100, 255);
}
a:active{
    color: rgb(0, 206, 124);
}
.info{
    display:flex;
}
.contact-info img{
    width: 1.25em;
}
.myimg{
    text-align: end;
    margin-right: 0%;
    margin-left: 31%;
}
.myimg img{
    border: 2px solid black;
    width: 14.1em;
}
.mob-num{
    text-decoration: none;
    color: rgb(14, 14, 160);
}
hr{
    background-color: black;
    height: 2px;
    border: 0;
}
.topic{
    border: 2px solid black;
    background: linear-gradient(to right, #ffffff,  #cfcfcf);
    padding: 0 1.25em;
    font-weight: bold;
}
.heading{
    margin: 0.625em 0;
}
.objective{
    margin: 0.9375em 1.25em;
    text-align: justify;
}
.edu-detail{
    margin-bottom: 1.25em;
}
.edu-detail li{
    list-style: none;
}
.edu-detail img{
    width: 0.9375em;
}
p,li{
    font-family:sans-serif;
}
li{
    margin: 5px 2px;
}
td{
    font-family: sans-serif;
}
.sign{
    text-align: end;
    margin-right: 3em;
}
.sign p{
    margin-right: 5em;
}
.sign img{
    margin-right: 3.1em;
    width: 10em;
}
br {
    visibility: hidden;
}
.footer{
    text-align: center;
    color: rgb(143, 81, 108);
}